{% base 'base.html' %}
{% load static %}

{% block title %}
    <title>Get consulting</title>
{% endblock %}

{% block content %}
     <section class="main-home">
        <div class="container">
           <div class="row">
              <!-- breadcrumb -->
              <div class="col-md-12">
                 <div class="breadcrumb-grid breadcrumb-about">
                    <ul class="breadcrumb">
                       <li><a href="index-2.html">Home</a></li>
                       <li class="active"><a href="#">Ask Health Questions</a></li>
                    </ul>
                 </div>
              </div>
              <!-- end breadcrumb -->
           </div>
           <div class="row ">
                 <div class="contact-page">
                    <div class="col-md-6 col-sm-6">
                    <div class="contact-page-left">
                       <div class="title-block">
                          <h2>Ask Questions</h2>
                       </div>
                       <form  >

                          <div class="form-group">
                              <label >Name <span>*</span></label>
                              <input  class="form-control input-post"  >
                          </div>
                          <div class="form-group">
                              <label >Email adress <span>*</span></label>
                              <input  class="form-control input-post"  >
                          </div>
                          <div class="form-group">
                             <label >Subject </label>
                             <input  class="form-control input-post"  >
                          </div>
                          <div class="form-group">
                                   <label >Message </label>
                                   <textarea class="form-control input-post form-comment" rows="3"></textarea>
                                </div>

                                <p class="form-submit">

                                   <a class="button hover-rhv-float" href="#" title="">Submit</a>

                                </p>

                       </form>
                    </div>
                 </div>
                 <div class="col-md-6 col-sm-6">
                    <div class="contact-page-right">
                       <div class="title-block">
                          <h2>WhatsApp Available</h2>
                       </div>
                       <div class="contact-info">
                          <a href="#"><img src="images/active-whatsapp.jpg" alt=""></a>
                       </div>

                       <aside class="social-sidebar-right">

                          <!--<div class="">
                             <ul>
                                <li><a href="" title=""><i class="fa fa-facebook fa-2x social"></i></a></li>
                                <li><a href="" title=""><i class="fa fa-twitter fa-2x social"></i></a></li>
                                <li><a href="" title=""><i class="fa fa-pinterest-p fa-2x social"></i></a></li>
                                <li><a href="" title=""><i class="fa fa-google-plus fa-2x social"></i></a></li>
                                <li><a href="" title=""><i class="fa fa-linkedin fa-2x social"></i></a></li>
                             </ul>
                          </div>-->
                       </aside>

                    </div>
                 </div>
                 </div>
           </div>
        </div>
     </section>
     <!-- footer -->
{% endblock %}